<header id="hero">
  <div class="navbar">
    <div class="navbar-inner top">
      <div class="container">
        <div class="span12">
        <%= link_to(Setting.domain , :class => "brand" ) do %>
        <%= image_tag("logo.png") %>
        <% end %>
        </div>
      </div>
        <%# render :partial => "common/search_form" %>
    </div>
  </div>
</header>
<nav id="nav" class="">
  <div class="container">
    <ul class="nav">
      <li class="offset1 span3">
        <%= link_to("PEOPLE","#people", :class => "nav-menu scroll") %>
      </li>
      <li class="offset05 span3">
        <%= link_to("WHAT WE DO","#what_we_do", :class => "nav-menu scroll") %>
      </li>
      <li class="offset05 span3">
        <%= link_to("CONTACT US","#contact", :class => "nav-menu scroll") %>
      </li>
    </ul>
  </div>
</nav>