<header id="hero">
  <div class="navbar">
    <div class="navbar-inner top">
      <div class="container">
        <div class="row">
          <div class="span12">
          <%= link_to(Setting.domain , :class => "brand" ) do %>
          <%= image_tag("logo.png") %>
          <% end %>
          </div>
        </div>
      </div>
        <%# render :partial => "common/search_form" %>
    </div>
  </div>
</header>
<nav id="nav" class="">
  <div class="container">
    <div class="row">
    <ul class="nav">
      <li class="span2">
        <%= link_to("Our People","#people", :class => "nav-menu scroll") %>
      </li>
      <li class="span3">
        <%= link_to("What Services We Provide","#service", :class => "nav-menu scroll") %>
      </li>
      <li class="span2">
        <%= link_to("Events","#events", :class => "nav-menu scroll") %>
      </li>
      <li class="span3">
        <%= link_to("Legal News and Updates","#news", :class => "nav-menu scroll") %>
      </li>
      <li class="span2">
        <%= link_to("Contact Us","#contact", :class => "nav-menu scroll") %>
      </li>
    </ul>
    </div>
  </div>
</nav>